@media (max-width: 1200px) {

  .header {
    .header-top {
      & .nav {
        display: none;
      }
    }

    .header-bottom {

      &__menu-btn {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__mob-menu {
        display: block;
      }
    }
  }
}

@media (max-width: 991px) {
  .categories {
    &__video {
      height: 200px;
    }

    .categories-tape {
      padding: 15px 50px;
    }
  }
}

@media (max-width: 768px) {
  .def-btn {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 20px;
  }

  .header {
    .header-bottom {
      &__contacts-wrapper {
        align-items: center;
      }

      &__search-btn {
        display: block;
      }

      &__number {
        display: none;
      }
    }
  }

  .hero {

    &__title {
      font-size: calc(32px + (22 + 22 * 0.7) * ((100vw - 320px) / 1440));
    }

    &__link {
      text-align: center;

      &::after {
        top: 10px;
      }
    }
  }

  .categories {

    &__inner {
      flex-direction: column;
    }

    .categories-tape {
      &__naming {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    .header-bottom {
      position: relative;
      padding: 5px 0;
      background-color: #fff;

      &__search-wrapper {
        position: absolute;
        padding: 8px 20px;
        left: 0;
        bottom: 1px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        -webkit-box-shadow: -1px 18px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -1px 18px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: -1px 18px 8px 0px rgba(34, 60, 80, 0.2);
        background-color: #fff;
        transition: all .3s ease-in-out;

        &.active {
          bottom: -59px;
        }

        &::before {
          display: none;
        }
      }

      &__search-close {
        display: block;
        position: absolute;
        right: 25px;
        width: 20px;
        height: 20px;
        background: url("../images/x.svg") no-repeat center/cover;
      }

      &__search-input {
        max-width: 100%;
        padding: 8px 30px 8px 8px
      }
    }
  }

  .hero {
    &__subtitle {
      font-size: 16px;
    }
  }

  .categories {
    .categories-tape {
      position: relative;
      justify-content: center;

      &__list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}