@charset "UTF-8";
@import "fonts.css";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #000000;
  --color-light: #F5F5F5;
  --color-main: #63BFBE;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-black);
  background-color: var(--light-color);
}

.def-title {
  font-size: calc(25px + 2.0138888889vw);
  line-height: 1em;
  font-size: 900;
}

.def-btn {
  background: var(--dark_blue, #63BFBE);
  box-shadow: 0px 6px 14px 0px rgba(88, 76, 42, 0.2);
  font-weight: 700;
  padding: 15px 30px;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 90;
}
.header__container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .header-top {
  padding: 8px 0;
  color: var(--color-light);
  background-color: var(--color-black);
}
.header .header-top__time {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.3em;
}
.header .header-top__time::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/time.svg") no-repeat center/cover;
}
.header .header-top__nav {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-top .nav {
  gap: 30px;
  display: flex;
  align-items: center;
}
.header .header-top .nav__items {
  transition: all 0.3s;
}
.header .header-top .nav__items:hover {
  transform: translateY(-2px);
}
.header .header-top .nav__items:hover .nav__links {
  color: var(--color-main);
}
.header .header-top .nav__links {
  font-size: 14px;
  line-height: 1.3em;
  transition: color 0.3s;
}
.header .header-top .nav__links:focus {
  outline: 1px solid var(--color-main);
  border-radius: 2px;
}
.header .header-top__signin {
  position: relative;
  color: var(--light-color);
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.3em;
  cursor: pointer;
}
.header .header-top__signin::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/user.svg") no-repeat center/cover;
}
.header .header-top__signin:focus {
  outline: 1px solid var(--color-main);
  border-radius: 2px;
}
.header .header-bottom {
  padding: 15px 0;
}
.header .header-bottom__nav {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-bottom__wrapper {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header .header-bottom__logo-wrapper {
  width: 100%;
  max-width: 108px;
  height: 50px;
  overflow: hidden;
}
.header .header-bottom__logo-wrapper:focus {
  outline: 2px solid var(--color-main);
}
.header .header-bottom__logo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header-bottom__search-wrapper {
  position: relative;
}
.header .header-bottom__search-wrapper::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat center/cover;
}
.header .header-bottom__search-close {
  display: none;
}
.header .header-bottom__search-btn {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat center/cover;
}
.header .header-bottom__search-input {
  width: 100%;
  max-width: 298px;
  padding: 5px 10px 5px 28px;
  border-bottom: 1px solid #E8E8E8;
}
.header .header-bottom__search-input::-moz-placeholder {
  font-size: 16px;
  color: #ACACAC;
}
.header .header-bottom__search-input::placeholder {
  font-size: 16px;
  color: #ACACAC;
}
.header .header-bottom__search-input:focus {
  border-radius: 2px;
  outline: 2px solid var(--color-main);
}
.header .header-bottom__contacts-wrapper {
  gap: 20px;
  display: flex;
}
.header .header-bottom__links {
  width: 20px;
  height: 20px;
}
.header .header-bottom__links:focus {
  outline: 1px solid var(--color-main);
}
.header .header-bottom__links--telegram {
  background: url("../images/telegram.svg") no-repeat center/cover;
}
.header .header-bottom__links--whatsapp {
  background: url("../images/whatsapp.svg") no-repeat center/cover;
}
.header .header-bottom__number {
  position: relative;
  padding-bottom: 20px;
}
.header .header-bottom__number:focus {
  outline: 1px solid var(--color-main);
}
.header .header-bottom__number span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--color-main);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
  text-decoration: underline;
}
.header .header-bottom__menu-btn {
  width: 40px;
  height: 40px;
  display: none;
  background-color: var(--color-black);
  cursor: pointer;
}
.header .header-bottom__menu-btn:focus {
  outline: 1px solid var(--color-main);
}
.header .header-bottom__menu-btn span {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: var(--color-main);
}
.header .header-bottom__menu-btn span::after, .header .header-bottom__menu-btn span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--color-main);
}
.header .header-bottom__menu-btn span::before {
  transform: translateY(-5px);
}
.header .header-bottom__menu-btn span::after {
  transform: translateY(5px);
}
.header .header-bottom .mobile-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: var(--color-light);
  background-color: var(--color-black);
  top: 0;
  left: 0;
  transform: translateY(-120%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.7s ease-in-out;
}
.header .header-bottom .mobile-menu.active {
  transform: translateY(0);
}
.header .header-bottom .mobile-menu.active .nav {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .header-bottom .mobile-menu.active .nav__links:focus {
  outline: 1px solid var(--color-main);
}
.header .header-bottom .mobile-menu__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .header-bottom .mobile-menu__btn:focus {
  outline: 1px solid var(--color-main);
}
.header .header-bottom .mobile-menu__btn span {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 0;
  background-color: var(--color-main);
}
.header .header-bottom .mobile-menu__btn span::after, .header .header-bottom .mobile-menu__btn span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--color-main);
}
.header .header-bottom .mobile-menu__btn span::before {
  transform: rotate(-45deg);
}
.header .header-bottom .mobile-menu__btn span::after {
  transform: rotate(45deg);
}

.hero {
  position: relative;
  color: var(--color-light);
  height: calc(100vh - 120px);
  background: url("../images/hero-bg.png") no-repeat center/cover;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 46, 46, 0.6);
  z-index: 0;
}
.hero__container {
  height: 100%;
}
.hero__inner {
  width: 100%;
  max-width: 710px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  font-size: calc(32px + 1.5277777778vw);
  line-height: 1em;
  font-weight: 900;
  margin-bottom: 15px;
  z-index: 1;
}
.hero__subtitle {
  margin-bottom: 40px;
  z-index: 1;
}
.hero__link {
  position: relative;
  width: 100%;
  max-width: 250px;
  transition: all 0.3s;
  z-index: 1;
}
.hero__link::after {
  content: "";
  position: absolute;
  right: 22px;
  top: 17px;
  width: 20px;
  height: 20px;
  background: url("../images/arrow.svg") no-repeat center/cover;
  transition: all 0.3s;
}
.hero__link:hover {
  box-shadow: 0 0 35px 0px #2f2e2e;
}
.hero__link:hover::after {
  transform: translateX(7px);
}

.categories {
  position: relative;
  padding: 100px 0;
}
.categories__list {
  position: relative;
  margin-bottom: 100px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.categories__items {
  width: 100%;
  background-color: var(--color-light);
  padding: 35px 20px;
  box-shadow: 0 10px 25px 5px #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.categories__items:nth-child(1) {
  transform: translateX(100px);
  transition: transform 1s;
}
.categories__items:nth-child(1).active {
  opacity: 1;
  transform: translateX(0px);
}
.categories__items:nth-child(2) {
  transform: translateX(150px);
  transition: transform 1.5s;
}
.categories__items:nth-child(2).active {
  transform: translateX(0px);
}
.categories__items:nth-child(3) {
  transform: translateX(200px);
  transition: transform 2s;
}
.categories__items:nth-child(3).active {
  transform: translateX(0px);
}
.categories__items:nth-child(4) {
  transform: translateX(250px);
  transition: transform 2.4s;
}
.categories__items:nth-child(4).active {
  transform: translateX(0px);
}
.categories__inner {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 580px;
  height: 380px;
  overflow: hidden;
  background: url("../images/categories-video-bg.png") no-repeat center/cover;
  transition: all 0.3s;
  box-shadow: 0 10px 35px 5px #fff;
  opacity: 0;
  transform: translateX(-300px) scale(0.7);
  transition: opacity 0.5s, transform 1s ease-in-out, scale 1s;
}
.categories__video.active {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.categories__video span {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: var(--color-light);
}
.categories__content {
  width: 100%;
  max-width: 475px;
}
.categories__title {
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in-out;
}
.categories__title.active {
  opacity: 1;
  transform: translateY(0);
}
.categories__text {
  position: relative;
  opacity: 0;
  transform: translateY(180px);
  transition: opacity 1.2s ease-in, transform 1.2s ease-in-out;
}
.categories__text.active {
  opacity: 1;
  transform: translateY(0);
}
.categories .categories-tape {
  position: absolute;
  left: 0;
  bottom: -50px;
  padding: 50px 100px;
  background-color: var(--color-main);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: -1;
}
.categories .categories-tape__list {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.categories .categories-tape__items {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.categories .categories-tape__img-wrapper {
  width: 54px;
  height: 54px;
  overflow: hidden;
  margin: 0 auto;
}
.categories .categories-tape__img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.categories .categories-tape__naming {
  color: var(--color-light);
}

.popular {
  padding: 100px 0;
}
.popular__wrapper {
  position: relative;
}
.popular__title-wrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.popular__link {
  position: relative;
  margin-top: 12px;
  padding: 5px 25px 5px 5px;
}
.popular__link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: url("../images/arrow-dark.svg") no-repeat center/cover;
  transition: all 0.3s;
}
.popular__link:hover::after {
  transform: translateX(-5px);
}
.popular .card {
  width: 100%;
  max-width: 282px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}
.popular .card:hover {
  box-shadow: 0 0 25px 1px #2f2e2e;
}
.popular .card:hover .card__img {
  transform: scale(1.1);
}
.popular .card__img-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.popular .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.popular .card__text-wrapper {
  padding: 10px 15px;
}
.popular .card__naming {
  display: inline-block;
  color: #ACACAC;
  margin-bottom: 10px;
}
.popular .card__naming span {
  color: var(--color-black);
  font-weight: 500;
}
.popular .card__price {
  display: block;
  font-weight: 500;
}
.popular .card__btn {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #E3E3E3;
  transition: all 0.5s;
}
.popular .card__btn:hover {
  color: var(--color-light);
  background-color: var(--color-black);
}
.popular .swiper {
  padding: 40px;
}
.popular .swiper-button-prev,
.popular .swiper-button-next {
  position: absolute;
  width: 50px;
  height: 30px;
  opacity: 0.7;
}

.our-work__list {
  gap: 30px;
  display: grid;
  grid-template-columns: 350px auto 256px;
}
.our-work__items {
  width: 100%;
  height: 100%;
}
.our-work__items--fourth {
  grid-template: 3/4;
}